extends layout

block content
  h1= title
  p Welcome to #{title}, where you can share reviews with your friends!

  div.scrolling-wrapper-flexbox
    div.card
      h2 Card
    div.card
      h2 Card
    div.card
      h2 Card
    div.card
      h2 Card
    div.card
      h2 Card
    div.card
      h2 Card
    div.card
      h2 Card
    div.card
      h2 Card
    div.card
      h2 Card
    div.card
      h2 Card
    div.card
      h2 Card
    div.card
      h2 Card
    div.card
      h2 Card
    div.card
      h2 Card
    div.card
      h2 Card
    div.card
      h2 Card
    div.card
      h2 Card
    div.card
      h2 Card
    div.card
      h2 Card
    div.card
      h2 Card
