doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet")
  body
    div.login-bar
      label(for='user') Username:
      input(type='text', name='pass', id='pass')
      label(for='pass') Password:
      input(type='password', name='pass', id='pass')
    nav(class='top-nav-bar')
      ul(class='sidebar-nav')
        li
          a(href='/') Home
        li
          a(href='/gaming/playstation') PlayStation
        li
          a(href='/gaming/xbox') XBOX
        li
          a(href='/gaming/nintendo') Nintendo
        li
          a(href='/gaming/pc') PC
        li
          a(href='/movies') Movies
        li
          a(href='/television') Television
        li
          a(href='/music') Music
  div(class='col-sm-10')
    block content
